body{
  background-color: #efefef;
}

main{
  padding: 3em 0;
}

.container{
  max-width: 1920px;
  padding: 0;
  margin: 0;
}

.row{
  padding: 0;
  margin: 0;
}

.user-info{
  text-transform: capitalize;
}

.text-left{
  text-align: left;
}

.text-right{
  text-align: right;
}

.category-header{
  text-transform: capitalize;
}

.table-card{
  padding: 2em 1em;
  margin: 0 0 0.5em 0;
}

.loginWrapper{
  padding: 10em 0;
}

.signupWrapper{
  padding: 3em 0;
}

.card{
  box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.08);
}

.card-title{
  text-align: center;
}

.loginLinks{
  display: inline-block;
  margin: 1em 0.5em;
}

.user-info{
  color: rgba(255,255,255,.5);
  margin-top: .5rem;
  padding-right: .5rem;
  padding-left: .5rem;
}

.itemsWrapper{
  width: 96%;
  padding: 2em;
  margin: 0.5em auto;
  box-sizing: border-box;
}

.item-label{
  width: 100%;
  text-transform: capitalize;
}

.btn{
  width: 10em;
  margin: 0 1em;
}

select{
  text-transform: capitalize;
}

#itemsGroup{
  padding: 0 1.5em;
}

@media only screen and (max-width: 600px) {
  label {
   font-size: 0.7em;
  }

  #itemsGroup{
    padding: 0 0.5em;
  }
}
