{{ template "head"}}
</head>

<body>

	<main class="container loginWrapper">
    <div class="row justify-content-center">
      <h1>Inventory</h1>
    </div>
		<div class="row justify-content-center">
			<div class="card" style="width: 22rem;">
				<div class="card-body">
					<h5 class="card-title">Login</h5>
					<span id="errBlock">{{ .ErrMsg }}</span>
					<form method="post" action="/passwordresetrequestaction">
							<div class="form-group">
									<label for="username">Username</label>
									<input class="form-control" type="text" id="username" name="username">
							</div>
							<div class="form-row form-group justify-content-center">
									<button type="submit" class="btn btn-primary" id="passwordResetReqBtn">Reset Password</button>
							</div>
					</form>
				</div>
			</div>
		</div>
		<div style="text-align: center;">
			<a href="/login">Login</a>
		</div>
	</main>

				<!-- <div class="md-card" id="login_card">
						<div class="md-card-content large-padding" id="login_form">
								<div class="login_heading">
										<div class="user_avatar"></div>
										<p class="uk-text-danger" id="errBlock">{{ .ErrMsg }}</p>
								</div>
								<form method="post" action="/passwordresetrequestaction">
										<div class="uk-form-row">
												<label for="username">Username</label>
												<input class="md-input" type="text" id="username" name="username" autofocus />
										</div>
										<div class="uk-margin-medium-top">
												<input type="submit" id="passwordResetReqBtn" class="md-btn md-btn-primary md-btn-block md-btn-large" value="Reset Password" />
										</div>
								</form>
								<div class="md-card-content large-padding">
										<center> <a href="/login">Login</a> </center>
								</div>
						</div>
				</div> -->

{{ template "tail" }}
</body>
</html>
